body.loginpage{
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #3498db, #8e44ad);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
body.logged-in {
    background-color: transparent; /* 将登录后的背景色设置为透明 */
}
.container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    color: #333;
}

input {
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#resultMessage {
    margin-top: 15px;
    color: #333;
}

/* 登录后的背景样式 */
body.d-page {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
    display: flex;
}

/* 长方形灰色边框样式 */
.rectangle {
    border: 2px solid #ccc;
    padding: 20px;
}

/* 自动生成按钮样式 */
.autogenerate-btn {
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}
.score-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.score-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.score-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
#generateScores {
    position: absolute;
    bottom: 0;
    left: 0;
}

#saveButton {
    position: absolute;
    bottom: 0;
    right: 0;
}

/* 最上方有色长条样式 */
.header {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* 确保在最上层 */
}

/* 右侧显示时间和使用人数 */
.header-right {
    font-size: 14px;
}

/* 下方虚线框样式 */
.add-item-container {
    border: 1px dashed #999;
    padding: 20px;
    margin-top: 50px; /* 为了避免被顶部固定的长条遮挡 */
}

/* 登出按钮样式 */
.logout-btn {
    margin-top: 20px;
}